---
layout: default
---
<header class="nav-header header-index">{% include nav.html %}</header>

<main class="container">
  <div class="row">

    <ul class="index-articles">

      <li id="about">
        <div class="index-navigation">
          <a href="/#" class="nav-icon nav-icon-up"><i class="fa fa-arrow-up"></i></a>
          <a href="/#about" class="index-header"><h2>about</h2></a>
          <a href="/#writing" class="nav-icon nav-icon-down"><i class="fa fa-arrow-down"></i></a>
        </div>
        <hr>
        {% capture about %}{% include about.md %}{% endcapture %}
        {{ about | markdownify }}
      </li>

      <li id="writing">
        <div class="index-navigation">
          <a href="/#about" class="nav-icon nav-icon-up"><i class="fa fa-arrow-up"></i></a>
          <a href="/#writing" class="index-header"><h2>writing</h2></a>
          <a href="/#resume" class="nav-icon nav-icon-down"><i class="fa fa-arrow-down"></i></a>
        </div>
        <hr>
        <ul class="post-list">
          {% for post in site.posts %}
            <li>
              <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</h3></a>
              <span class="post-meta">{{ post.description }}</span>
            </li>
          {% endfor %}
        </ul>
      </li>

      <li id="resume">
        <div class="index-navigation">
          <a href="/#writing" class="nav-icon nav-icon-up"><i class="fa fa-arrow-up"></i></a>
          <a href="/#resume" class="index-header"><h2>resume</h2></a>
          <a href="/#back-to-top" class="nav-icon nav-icon-down"><i class="fa fa-arrow-down"></i></a>
        </div>
        <hr>
        {% capture resume %}{% include resume.md %}{% endcapture %}
        {{ resume | markdownify }}
      </li>

      <li id="back-to-top">
        <a href="/#"><h2>back to top</h2></a>
      </li>

    </ul>

  </div>
</main>
