<div class="container">

  <div class="header-left">
    <img src="/icon.png"/>
  </div>

  <div class="header-center">

    <div class="header-center-top">
      <a href="{{ site.baseurl }}/"><h1>{{ site.title }}</h1></a>
    </div>

    <div class="header-center-bottom">
      <nav>
        <ul>
          <li><a href="/#">home</a></li>
          <li><a href="/#about">about</a></li>
          <li><a href="/#writing">writing</a></li>
          <li><a href="/#resume">resume</a></li>
        </ul>
      </nav>
    </div>

  </div>

  <div class="header-right">
    <div>
      <a href="https://twitter.com/lynncyrin"><i class="fa fa-twitter"></i></a>
      <a href="https://github.com/lynnco"><i class="fa fa-github"></i></a>
      <a href="https://gitlab.com/cyrin"><i class="fa fa-gitlab"></i></a>
      <a href="https://paypal.me/cyrin"><i class="fa fa-paypal"></i></a>
    </div>
    <div>
      <a href="https://steamcommunity.com/id/naxili"><i class="fa fa-steam-square"></i></a>
      <a href="https://github.com/LynnCo/lynnco.github.io"><i class="fa fa-code"></i></a>
      <a href="https://cash.me/$cyrin"><i class="fa fa-dollar"></i></a>
    </div>
  </div>

</div>
