<!DOCTYPE html>
<!--
.____                           _________                .__
|    |    ___.__. ____   ____   \_   ___ \_______ ___.__.|__| ____
|    |   <   |  |/    \ /    \  /    \  \/\_  __ <   |  ||  |/    \
|    |___ \___  |   |  \   |  \ \     \____|  | \/\___  ||  |   |  \
|_______ \/ ____|___|  /___|  /  \______  /|__|   / ____||__|___|  /
        \/\/         \/     \/          \/        \/             \/
 __      __      ___.     ________
/  \    /  \ ____\_ |__   \______ \   _______  __
\   \/\/   // __ \| __ \   |    |  \_/ __ \  \/ /
 \        /\  ___/| \_\ \  |    `   \  ___/\   /
  \__/\  /  \___  >___  / /_______  /\___  >\_/
       \/       \/    \/          \/     \/

-->
<html lang="en">

  <head>{% include head.html %}</head>

  <body>
  <div class="background-image"></div>

    {{ content }}

  </body>

</html>
