<!DOCTYPE html>
<!--
.____                           _________               .__
|    |    ___.__. ____   ____   \_   ___ \___.__._______|__| ____
|    |   <   |  |/    \ /    \  /    \  \<   |  |\_  __ \  |/    \
|    |___ \___  |   |  \   |  \ \     \___\___  | |  | \/  |   |  \
|_______ \/ ____|___|  /___|  /  \______  / ____| |__|  |__|___|  /
        \/\/         \/     \/          \/\/                    \/
 __      __      ___.     ________
/  \    /  \ ____\_ |__   \______ \   _______  __
\   \/\/   // __ \| __ \   |    |  \_/ __ \  \/ /
 \        /\  ___/| \_\ \  |    `   \  ___/\   /
  \__/\  /  \___  >___  / /_______  /\___  >\_/
       \/       \/    \/          \/     \/
-->
<html lang="en">

  <head>{% include head.html %}</head>

  <body>
  <div class="background-image"></div>

    {{ content }}

  </body>

</html>
